* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');



:root {
    --cor0: #87CEEB;
    --cor1: #1E90FF;
    --cor2: #FFD166;
    --cor3: #eaeaea;
    --cor4: #333333;
    --cor5: #1E1E2F;
    --cor6: #2A2A40;
    --cor7: #4FC3F7;
    --cor8: #cacaca;
    --fonte0: Arial, Helvetica , sans-serif;
    --fonte1: 'Bebas Neue', cursive ;
    --fonte2: 'Caveat', cursive ;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background: linear-gradient(var(--cor0), var(--cor3));
    

}

img {
    width: 170px;
    height: 170px;
    margin: auto;
    display: flex;

}

h1 {
    margin-bottom: 20px;
    font-family: 'Caveat', cursive;
    
}
.tempo {
    color: var(--cor5);
    font-size: 1.5em;
    margin-right: 0px;
}
.agora {
    color: var(--cor1);
    font-size: 1.5em;
    margin-left: 0px;
}

main
 { 
    height: 450px;
    min-height: 200px;
    width: 90%;
    max-width: 800px;
    background: var(--cor3); 
    text-align: center ;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--cor1) 0px 0px 10px;
}



input {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 0 2px var(--cor7);
}

button {
    padding: 10px 20px;
    background: var(--cor1);
    color: var(--cor3);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 30%;
}



footer {
    width: 100%;
    padding: 10px;
    align-items: center;
    height: 60px;
    text-align: center;
}

/* Estilos para tela de resultado */
